body {
  background-color: black;
  color: #d29119;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.loading {
  display: flex;
  min-height: 100vh;
}
.loading > h1 {
  margin: auto;
}

/* Container behaves the same way for large and small screens */
.container {
  max-width: 1280px;
  /* Center container in root element */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.upper-section {
  display: flex;
  justify-content: space-between;
}
.navigation {
  min-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}
.quote-author {
  /* text-align: center; */
  margin-top: 5px;
}
.select > div {
  color: gray;
}
.data > h4 {
  color: gray;
}
.select-element {
  margin-top: 10px;
  background: gray;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.data {
  text-align: left;
}

.image-container {
  display: flex;
}
.image {
  max-width: 80%;
  /* Image changes size based on viewport size, but upper margin doesn't change */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.info-section-content {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}
.info-section-content h2 {
  text-align: center;
  color: gray;
}

.info-section-content img {
  width: 70%;
  height: auto;
}

.link {
  color: gray;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
figcaption {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  color: gray;
}

.footer {
  margin-top: 20px;
}
/* Page responsiveness for different devices*/
@media only screen and (min-width: 481px) and (max-width: 1500px) {
  .navigation {
    padding-left: 140px;
  }
}
/* iPads 768-1024 + cellphone 320-480 (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .upper-section {
    flex-direction: column;
    justify-content: start;
  }
  .heading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .quote-author {
    margin-left: auto;
    margin-right: auto;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .select {
    margin: auto;
    text-align: center;
  }

  .data {
    margin: auto;
  }
  .data * {
    text-align: center;
  }
  .whitesmoke {
    color: whitesmoke;
  }
  .navigation {
    padding-left: 0;
  }
  .image {
    width: 80%;
    height: 80%;
    /* margin-top: auto; */
    /* margin-bottom: 0; */
  }

  .info-section-content {
    padding: 0 20px;
  }
}

/* Cellphones (portrait and landscape) */
/* @media only screen and (min-width: 320px) and (max-width: 480px) {
} */
